<!-- 
https://getbootstrap.com/docs/4.3/components/card/#card-groups
 -->

<div class="card-group">
  
  <!-- {{ random()  }} -->

  <app-album-card class="card" 
      [album]="album" 
      *ngFor="let album of results">
  </app-album-card>

</div>
